/bin
test_data/All_length_1M.all_chr.hg19.permutate100.1kGv3.summary.txt
test_data/cis-qtl.matrixEQtlAll.SampleSize-133.test.chr1.sig.sameChr.addCor.bed
test_data/cis-qtl.matrixEQtlAll.SampleSize-133.test.chr1.sig.sameChr.addCor.Cpg.bed
test_data/cis-qtl.matrixEQtlAll.SampleSize-133.test.chr1.sig.sameChr.addCor.Snp.bed
test_data/cis-qtl.matrixEQtlAll.SampleSize-133.test.chr1.sig.sameChr.addCor.uniq.bed
test_data/cis-qtl.matrixEQtlAll.SampleSize-133.test.chr1.sig.sameChr.addCor.uniq.hic_signal.bed
test_data/cis-qtl.matrixEQtlAll.SampleSize-133.test.chr1.sig.sameChr.addCor.uniq.recomb_signal.alignTo.genetic_map_1kGv3_test.min_data-1.recomb_observed_expect.txt
test_data/cis-qtl.matrixEQtlAll.SampleSize-133.test.chr1.sig.sameChr.addCor.uniq.recomb_signal.alignTo.genetic_map_1kGv3_test.min_data-1.txt
test_data/cis-qtl.matrixEQtlAll.SampleSize-133.test.chr1.sig.sameChr.addCor.uniq.tstat_hic_recomb_oe.afterRandomForest.annotate.txt
test_data/cis-qtl.matrixEQtlAll.SampleSize-133.test.chr1.sig.sameChr.addCor.uniq.tstat_hic_recomb_oe.afterRandomForest.txt
test_data/cis-qtl.matrixEQtlAll.SampleSize-133.test.chr1.sig.sameChr.addCor.uniq.tstat_hic_recomb_oe.txt
test_data/cis-qtl.matrixEQtlAll.SampleSize-133.test.chr1.txt
test_data/cov.tab.SampleSize-3.test.chr1.txt
test_data/DNAm.locs.SampleSize-3.test.chr1.txt
test_data/SNP.locs.SampleSize-3.test.chr1.txt
test_data/SNP.tab.SampleSize-3.test.chr1.txt
test_data/training_200.txt
test_data/trans-qtl.matrixEQtlAll.SampleSize-133.test.chr1.txt
test_data_zip/cov.tab
test_data_zip/DNAm.locs
test_data_zip/DNAm.tab
test_data_zip/genetic_map_1kGv3_test.hg19.bw
test_data_zip/GM12878_chr1_1kb.KRnorm_raw_test.sparseBed.txt
test_data_zip/SNP.locs
test_data_zip/SNP.tab
test_data_zip/training_2k.txt
CalPvalueNullDist.jar
GenerateRandomGenomeRange.jar
RandomMatchedInterval.2.jar
htsjdk-1.138.jar
